# ==================================================
# Folders to Ignore
# ==================================================
/build/
/bin/
/lib/
/cache/
.vscode/
.idea/
tmp/
/G3D10/doc-files/
/G3D10/scratch/
/G3D10/graveyard/
/G3D10/manual/
/G3D10/bin/
/G3D10/external/fmod/

# ==================================================
# Files to Ignore
# ==================================================
*.o
*.obj
*.so
*.dylib
*.exe
*.log
*.tmp
.DS_Store
CMakeCache.txt

# ==================================================
# Emacs
# ==================================================
*~
\#*
*.elc
.emacs.desktop*
.emacs.desktop.lock*
.idea

# ==================================================
# Neovim
# ==================================================
*.swp
*.swo
*.viminfo

# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
